<style>
audio { width: 80px; display: block; margin:20px; }
</style>

<script type="text/javascript">

		function show_song_playing(current,trackCount) {			
			for (var i = 0; i < trackCount; i++) {
				$('#' + i).removeClass('success');
//				$('#' + i).addClass('btn-primary');
//				$('#' + i).text('Play');
			}
//			$('#' + current ).removeClass('btn-primary');
			$('#' + current ).addClass('success');
//			$('#' + current).text('Playing');
			
		}
			jQuery(function($) {

//				$('#0').removeClass('btn-primary');
				$('#0').addClass('success');

					var index = 0,
					playing = false;
					mediaPath = '/songs_cache/',
					extension = '.mp3',
					users = <%= @users_json.html_safe %> ,
					tracks = <%= @song_json.html_safe %> ,
					trackCount = tracks.length,
					npAction = $('#npAction'),
					npTitle = $('#npTitle'),
					npArtist = $('#npArtist'),
					npUser = $('#npUser'),
					audio = $('#audio1').bind('play', function() {
						playing = true;
						npAction.text('Now Playing:');
					}).bind('pause', function() {
						playing = false;
						npAction.text('Paused:');
					}).bind('ended', function() {
						npAction.text('Paused:');
						if((index + 1) < trackCount) {
							index++;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							audio.play();
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}).get(0),
					btnPrev = $('#btnPrev').click(function() {
						if((index - 1) > -1) {
							index--;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					btnNext = $('#btnNext').click(function() {
						if((index + 1) < trackCount) {
							index++;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					change_song = function example4() {
					    var table = document.getElementById("tableid4");
					    var rows = table.rows; // or table.getElementsByTagName("tr");
					    for (var i = 0; i < rows.length; i++) {
					        rows[i].onclick = (function() {
					            var row = i-1; 
					            return function() {
									show_song_playing(row, trackCount) ;
									playTrack(row);
					              //alert("row"+cnt+" data="+this.cells[0].innerHTML);
					            }    
					        })(i);
					    }
					},
					
					loadTrack = function(id) {
						$('.plSel').removeClass('plSel');
						$('#plUL li:eq(' + id + ')').addClass('plSel');
						npTitle.text(tracks[id].name);
						npArtist.text(tracks[id].artist);
						npUser.text(users[tracks[id].user-1]);
						
						$("#playing_image").attr('src', 'https://i.ytimg.com/vi/' + tracks[id].youtube_id + '/mqdefault.jpg');
						$("#playing_youtube").attr('src', 'https://www.youtube.com/watch?v=' + tracks[id].youtube_id );
						index = id;
						audio.src = mediaPath + tracks[id].filename + extension;
					},
					playTrack = function(id) {
						loadTrack(id);
						audio.play();
					};
					
					loadTrack(index);
					change_song();

			});
			

</script>
		
<script>

$(function () {
        $('#user_is').change(function () {
		   user_is = document.getElementById('user_is').value ;
                $.get('/songs', { user:user_is } , null, 'script');
                return false;
        });
});

</script>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder">
<div class="well well-sm">
	<a id='playing_youtube' href="https://www.youtube.com/watch?v=god7hAPv8f0">
	<img id='playing_image' class="img-responsive" src="https://i.ytimg.com/vi/god7hAPv8f0/mqdefault.jpg" /></a>
	<audio id="audio1" controls="controls">Your browser does not support the HTML5 Audio Tag.</audio>	

    <small>selected by:
	<span id="npUser" class="label label-default"></span></small>

	<div style="display:none;">
		<h5 id="npAction">Paused:</h5>
		<button id="btnPrev" class="btn btn-default">|&lt;&lt;</button> 
		<button id="btnNext" class="btn btn-default">&gt;&gt;|</button>
	</div>
</div>

  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
	    <h4 id="npTitle"></h4>
	    <small>by:</small>
		<h4 id="npArtist"><span class="text-muted"></span></h4>

  </div>

</div>

<div class="table-responsive">
   <table  id="tableid4" class="table table-striped">
     <thead>
       <tr>
         <td>User: <b>Song</b> - Artist</td>
         <th>YouTube</th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
     </thead>

	  <tbody>
	    <% @songs.each_with_index do |song, index| %>
	      <tr  id='<%= index %>'>
	        <td><%= x_users(song.user) %>: <b><%= song.name %></b> - <%= song.artist %> <span class="label btn <%= colorize_by_name(song.user) %>"></td>
	        <td><a href="https://www.youtube.com/watch?v=<%= song.youtube_id %>">
			<img class="img-rounded" style='width:40px;' src="https://i.ytimg.com/vi/<%= song.youtube_id %>/mqdefault.jpg" /></a></td>
	        <td><%= link_to 'Show', song %></td>
	        <td><%= link_to 'Edit', edit_song_path(song) %></td>
	        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</div>
