<style>
audio { width: 80px; display: block; margin:20px; }
</style>

<script type="text/javascript">

		function show_song_playing(current,trackCount) {			
			for (var i = 0; i < trackCount; i++) {
				$('#' + i).removeClass('btn-success');
				$('#' + i).addClass('btn-primary');
			}
			$('#' + current ).removeClass('btn-primary');
			$('#' + current ).addClass('btn-success');
		}
			jQuery(function($) {

				$('#0').removeClass('btn-primary');
				$('#0').addClass('btn-success');

					var index = 0,
					playing = false;
					mediaPath = '/songs_cache/',
					extension = '.mp3',
					users = <%= @users_json.html_safe %> ,
					tracks = <%= @song_json.html_safe %> ,
					trackCount = tracks.length,
					npAction = $('#npAction'),
					npTitle = $('#npTitle'),
					npArtist = $('#npArtist'),
					npUser = $('#npUser'),
					audio = $('#audio1').bind('play', function() {
						playing = true;
						npAction.text('Now Playing:');
					}).bind('pause', function() {
						playing = false;
						npAction.text('Paused:');
					}).bind('ended', function() {
						npAction.text('Paused:');
						if((index + 1) < trackCount) {
							index++;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							audio.play();
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}).get(0),
					btnPrev = $('#btnPrev').click(function() {
						if((index - 1) > -1) {
							index--;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					btnNext = $('#btnNext').click(function() {
						if((index + 1) < trackCount) {
							index++;
							show_song_playing(index, trackCount) ;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					playit = $('.play_it').click(function() {
						var row_id = parseInt($(this)[0].innerText) ;
						show_song_playing(row_id, trackCount) ;
//						if(id !== index) {
							playTrack(row_id);
//						}
					}),
					loadTrack = function(id) {
						$('.plSel').removeClass('plSel');
						$('#plUL li:eq(' + id + ')').addClass('plSel');
						npTitle.text(tracks[id].name);
						npArtist.text(tracks[id].artist);
						npUser.text(users[tracks[id].user-1]);
						
						$("#playing_image").attr('src', 'https://i.ytimg.com/vi/' + tracks[id].youtube_id + '/mqdefault.jpg');
						$("#playing_youtube").attr('src', 'https://www.youtube.com/watch?v=' + tracks[id].youtube_id );
						index = id;
						audio.src = mediaPath + tracks[id].filename + extension;
					},
					playTrack = function(id) {
						loadTrack(id);
						audio.play();
					};
					
					loadTrack(index);

			});
		</script>
		
<script>

$(function () {
        $('#user_is').change(function () {
		   user_is = document.getElementById('user_is').value ;
                $.get('/songs', { user:user_is } , null, 'script');
                return false;
        });
});

</script>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder">
<div class="well well-sm">
	<a id='playing_youtube' href="https://www.youtube.com/watch?v=god7hAPv8f0">
	<img id='playing_image' class="img-responsive" src="https://i.ytimg.com/vi/god7hAPv8f0/mqdefault.jpg" /></a>
	<audio id="audio1" controls="controls">Your browser does not support the HTML5 Audio Tag.</audio>	

    <small>selected by:</small>
	<span id="npUser" class="label label-default"></span>

	<div style="display:none;">
		<h5 id="npAction">Paused:</h5>
		<button id="btnPrev" class="btn btn-default">|&lt;&lt;</button> 
		<button id="btnNext" class="btn btn-default">&gt;&gt;|</button>
	</div>
</div>

  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
	    <h4 id="npTitle"></h4>
	    <small>by:</small>
		<h4 id="npArtist"><span class="text-muted"></span></h4>
	    <br>

  </div>

</div>

<small>Press <button type="button" class="btn btn-xs btn-primary">.</button> to play a song in list<br></small>
<div class="table-responsive">
   <table class="table table-striped">
     <thead>
       <tr>
		 <th>Play</th>
         <th>Song - Artist User</th>
         <th>YouTube</th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
     </thead>

	  <tbody>
	    <% @songs.each_with_index do |song, index| %>
	      <tr>
	        <td><button type="button" id='<%= index %>' class="play_it btn btn-xs btn-primary"><%= index %></button> </td>
	        <td><%= song.name %> - <%= song.artist %> <span class="label btn <%= colorize_by_name(song.user) %>"><%= x_users(song.user) %></span></td>
	        <td><a href="https://www.youtube.com/watch?v=<%= song.youtube_id %>">
			<img class="img-rounded" style='width:40px;' src="https://i.ytimg.com/vi/<%= song.youtube_id %>/mqdefault.jpg" /></a></td>
	        <td><%= link_to 'Show', song %></td>
	        <td><%= link_to 'Edit', edit_song_path(song) %></td>
	        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</div>
